@page "/massage-therapy"


<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="bg-light rounded px-3 py-2 mb-4">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/">Домашня сторінка</a></li>
        <li class="breadcrumb-item active" aria-current="page">Масажна терапія</li>
    </ol>
</nav>



<div class="container py-5">
    <div class="row justify-content-center g-4">

        <!-- Карточка 1 -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-lg" >
                <div class="ratio ratio-16x9">
                   @*  <lite-youtube videoid="8AcjZM7DOuk" style="width: 100%; height: auto;" title="Комплексний масаж спини" ></lite-youtube> *@

                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Комплексний масаж спини (40 хв)</h5>
                    <p class="card-text">Комплексний масаж спини (спина, руки, груди, голова) — полегшить біль у спині, зменшить головні болі.</p>
                </div>
                <div class="card-footer bg-transparent border-0 text-center">
                    <a class="btn btn-outline-primary" href="#">500 грн</a>
                </div>
            </div>
        </div>

        <!-- Карточка 2 -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100 shadow-lg" target="_blank">
                <div class="ratio ratio-16x9" >
                    @* <lite-youtube src="https://www.youtube.com/embed/ikHn4dHpHqA"
                            title="Масаж всього тіла"
                            frameborder="0"
                            allow="autoplay; encrypted-media"
                            allowfullscreen
                            referrerpolicy="no-referrer-when-downgrade">
                    </lite-youtube> *@
                </div>
             
                <div class="card-body text-center">
                    <h5 class="card-title">Масаж всього тіла (60 хв)</h5>
                    <p class="card-text">Масаж всього тіла допоможе зняти напругу в м’язах, покращить кровопостачання, лімфовідтік. Покращить ваш сон і самопочуття.</p>
                </div>               
                <div class="card-footer bg-transparent border-0 text-center">
                    <a class="btn btn-outline-primary" href="#">700 грн</a>
                </div>
            </div>
        </div>

    </div>
</div>



@code {
    
}
