@page "/our-services"


<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="bg-light rounded px-3 py-2 mb-4">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/">Домашня сторінка</a></li>
        <li class="breadcrumb-item active" aria-current="page">Наші послуги</li>
    </ol>
</nav>

<!-- Main Container -->
<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-semibold text-primary">Наші послуги</h1>
        <p class="lead text-muted">Косметологія гармонійно поєднує в собі апаратні методики, препарати, створені на основі сучасних знань лікарів і технології, які вдосконалюються з кожним днем.</p>
    </div>

    <!-- Gallery Grid -->
    <div class="row mx-n2">
        <div class="col-md px-2 mb-3">
            <div class="height-250 bg-img-hero" style="background-image: url(../wwwroot/img/carousel2.jpg);"></div>
            <div> <img src="/img/foto1.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>

        </div>
        <div class="col-md-3 px-2 mb-3">
            <div> <img src="/img/foto2.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>
        <div class="col-md px-2 mb-3">
            <div> <img src="/img/foto3.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>

        <div class="w-100"></div>

        <div class="col-md px-2 mb-3 mb-md-0">
            <div> <img src="/img/foto4.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>
        <div class="col-md-4 px-2 mb-3 mb-md-0">
            <div> <img src="/img/foto5.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>
        <div class="col-md px-2">
            <div> <img src="/img/foto6.jpeg" class="img-thumbnail text-right" style="margin-right:auto;margin-left:auto; width:100%" alt="" /></div>
        </div>
    </div>
</div>


@code {

}
